/* set up all blog post styles in posts.css and import into each markdown file. Not the most elegant solution, but it works */

h1 {
  font-family: 'Raleway';

}

h1,
h2,
h3,
p {
  color: #0a2e08;
}

.flow>*+* {
  margin-top: 2em;
}